[submodule "ccgrid23-hyq-host"]
    path = drivers/host
    url = https://github.com/nickyc975/ccgrid23-hyq-host.git
    branch = hyq
[submodule "ccgrid23-hyq-target"]
    path = drivers/target
    url = https://github.com/nickyc975/ccgrid23-hyq-target.git
    branch = hyq
